@charset "UTF-8";

/* reset */
body,
h1,
h2,
h3,
h4,
ul,
li,
p,
dd,
dt,
dl,
figure,
figcaption {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
  line-height: 1.8rem;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}

/* ラップ */
.wrapper {
  width: 80vw;
  margin-left: 18vw;
}

/* リンク */
#profile,
#work,
#skill {
  margin-top: -30px;
  padding-top: 30px;
}


/* 横並び */
.ds_f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* 縦書き */
.vertical {
  writing-mode: vertical-rl;
}



/* 全体 */
html{
  background-image: url(../images/common/left_bg.png);
  background-repeat: repeat-y;
}

body {
  font-family: "メイリオ", "Meiryo", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
  position: relative;
}

h2 {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
}

h3 {
  text-align: center;
  margin-bottom: 10vh;
}


/* main_title */
main .title {
  text-align: center;
  margin: 38vh auto 65vh;
}
main .title img {
  width: 30vw;
}

/* スクロールバー */
main {
  position: relative;
}

main .scroll {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  top: 0;
  right: 50%;
  /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 2s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
  0% {
    top: 9.8%;
  }

  50% {
    top: 10%;
  }

  100% {
    top: 9.8%;
  }
}

/*Scrollテキスト*/
main .scroll span {
  position: absolute;
  left: -20px;
  top: -30px;
  /*テキストの形状*/
  color: #000;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  writing-mode: vertical-rl;
  padding: 10px 20px;
  padding-left: 0;
}

/* 矢印の描写 */
main .scroll:before {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0px;
  right: -5px;
  /*矢印の形状*/
  width: .5px;
  height: 15px;
  background: #00473e;
  transform: skewX(-31deg);
}

main .scroll:after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: -23px;
  right: 0;
  /*矢印の形状*/
  width: .5px;
  height: 40px;
  background: #00473e;
}


/* ハンバーガーボタン */
.btn {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 45px;
  left: 78px;
  z-index: 99999;
}

.btn span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  transition: all .5s;
}

.btn span:nth-child(1) {
  top: 10px;
}

.btn span:nth-child(2) {
  top: 19px;
}

.btn span:nth-child(3) {
  bottom: 10px;
}

/* ハンバーガーボタンクリック後 */
.active span {
  background-color: #fff;
}

.active span:nth-child(1) {
  transform: rotate(135deg);
  top: 20px;
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: rotate(225deg);
  bottom: 18px;
}



/* ナビ */
.always {
  position: fixed;
  left: 0;
  top: 110px;
}

.always ul {
  flex-wrap: nowrap;
}

.always ul li {
  width: 100px;
  height: 140px;
  margin: 5px;
}

.always ul li:first-child {
  height: 150px;
}

.always ul li a {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  color: #333;
  border-radius: 50px;
  margin: 5% auto;
  padding: 40px 3px;
  transition: .5s;
}

.always ul li a:hover {
  background-color: #FF9800;
  color: #fff;
  transition: .5s;
}

/* ハンバーガーボタンクリック後 */
.humberger {
  display: none;
}

.open {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 190px;
  width: 100%;
  height: 100vh;
}

.open li {
  width: 350px;
  height: 40px;
  margin: 10px auto;
}

.open ul li:nth-child(2) {
  height: auto;
}

.open ul li:nth-child(2) ul {
  margin-top: 15px;
}

.open ul li:nth-child(2) ul li {
  height: 30px;
  list-style: inside;
  color: #fff;
  margin-left: 20px;
}

.open li a {
  color: #fff;
  writing-mode: lr-tb;
  border: none;
  padding: 10px 3px;
  transition: .5s;

}

.open li a:hover {
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 1px;
  transition: .5s;
}

.open ul {
  animation-name: anime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* 背景 */
.nav_bg {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #214098;
  transform: scale(0);
  /* 始まりは0位置(見えない) */
  left: -50px;
  top: -50px;
  transition: all .5s;
  z-index: 9999;
}

.huberger_bg {
  transform: scale(50);
  transition: all .5s;
  z-index: 9999;
}


/* 自己紹介 */
#profile {
  margin-bottom: 30vh;
}

/* 自己紹介＿自画像 */
#profile .introduction .faceimg {
  /* height: 100%;
  border: 1px solid;
  border-radius: 50%;
  padding: 35px 80px; */
  margin: auto 0;
}

#profile .introduction .faceimg img {
  /* width: 210px;
  height: 300px; */
}

/* 自己紹介＿テキスト */
#profile .introduction .prof_text {
  width: 40vw;
  margin: 0 3vw;
}

#profile .introduction .prof_text p:nth-child(1) {
  font-weight: bold;
  font-size: 1.3rem;
}

#profile .introduction .prof_text p:nth-child(2) {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: bold;
  margin-bottom: 3vh;
}

#profile .introduction .prof_text p:nth-child(3),
#profile .introduction .prof_text p:nth-child(4) {
  margin-bottom: 30px;
}

/* 制作 */
#work {
  margin-bottom: 30vh;
}

#work ul li {
  margin: 2vw 2vw;
}

#work figure {
  background-color: #0000002b;
  margin-bottom: 1vh;
}

#work figure img {
  width: 27.375rem;
  height: 21.375rem;
  object-fit: cover;
  object-position: top;
  border: 1px solid #999;
}

#work figcaption,
#work p {
  text-align: left;
}


/* スキル */
#skill {
  margin-bottom: 20vh;
}

#skill ul li {
  width: 240px;
  margin: 3vh 3vw;
}

#skill ul li img {
  height: 190px;
  width: 190px;
  text-align: center;
}

#skill ul li h4,
#skill ul li .icon {
  text-align: center;
}


/* topへ戻るボタン */
main .totop {
  opacity: 0;
  transition: 1s;
}

main .arrival {
  /*描画位置※位置は適宜調整してください*/
  position: fixed;
  bottom: 0;
  right: 5%;
  /*矢印の動き1秒かけて永遠にループ*/
  animation: totopmove 2s ease-in-out infinite;
  opacity: 1;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes totopmove {
  0% {
    bottom: 9%;
  }

  50% {
    bottom: 10%;
  }

  100% {
    bottom: 9%;
  }
}

/*Scrollテキスト*/
main .arrival span {
  position: absolute;
  bottom: 0;
  left: -20px;
  /*テキストの形状*/
  color: #00473e;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  writing-mode: vertical-rl;
  padding: 10px;
  padding-left: 0;
  padding-right: 20px;
}

/* 矢印の描写 */
main .arrival:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 25px;
  right: -5px;
  /*矢印の形状*/
  width: 1px;
  height: 15px;
  background: #00473e;
  transform: skewX(35deg);
}

main .arrival:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 40px;
  background: #00473e;
}


@media screen and (max-width:780px) {

  .wrapper {
    width: auto;
    margin-left: 10vw;
  }

  img {
    width: 100%;
  }


  /* 全体 */
  h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  h3 {
    margin-bottom: 2vh;
    line-height: 1rem;
    font-weight: 100;
  }

  /* ナビ */
  .always {
    display: none;
  }

  /* ハンバーガーボタン */
  .btn {
    top: 3vh;
    left: unset;
    right: 5vw;
  }

  .nav_bg {
    left: unset;
    right: -50px;
    top: -50px;
  }


  /* スクロールダウン */
  main .scroll:before {
    top: -46px;
    right: -5px;
  }

  main .scroll span {
    left: -20px;
    top: -75px;
  }

  main .scroll:after {
    top: -70px;
  }


  /* 自己紹介 */
  #profile {
    padding-top: 20vh;
    margin-bottom: 14vh;
  }



  /* 自己紹介_自画像 */
  #profile .introduction .faceimg {
    margin-bottom: 5%;
    padding: 20px 60px;
  }

  /* 自己紹介_文章 */
  #profile .introduction .prof_text p:nth-child(1) {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
  }

  #profile .introduction .prof_text p:nth-child(2) {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }

  #profile .introduction .prof_text {
    width: 72vw;
    line-height: 1rem;
    font-size: .9rem;
  }

  /* 制作 */
  #work {
    margin-bottom: 14vh;
  }

  #work figure {
    width: 100%;
  }

  #work ul li {
    margin-bottom: 6vw;
    width: 72vw;
  }

  #work figure img {
    width: 100%;
    height: 30vh;
  }

  #work figcaption,
  #work p {
    font-size: .8rem;
  }

  /* スキル */
  #skill p {
    font-size: .8rem;
  }

  #skill ul li {
    width: 80%;
    margin-bottom: 5vh;
  }

  #skill ul li:nth-child(3) img {
    height: 150px;
    object-fit: cover;
  }

  #skill ul li:nth-child(4) p:last-child br:first-child {
    display: none;
  }
}