@charset "UTF-8";

/* commonの設定解除 */
.wrapper {
  margin: auto;
}

.ds_f {
  flex-wrap: nowrap;
  justify-content: baseline;
}

/* 全体 */
#main_content {
  margin-bottom: 30vh;
}


/* パンくず */
.crumb {
  position: fixed;
  top: 100px;
  left: 79px;
  z-index: 9998;
  opacity: 0;
  animation: anime ease-out .3s normal forwards;
  font-size: .9rem;
}

@keyframes anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.none {
  pointer-events: none;
  opacity: 1;
  animation: none_anime ease-out .3s normal forwards;
}

@keyframes none_anime {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.crumb ul:nth-child(1)>li:nth-child(1) {
  font-weight: bold;
}

.crumb ul:first-child>li:nth-child(2) {
  margin-left: 22px;
}

.crumb .point {
  font-weight: bold;
  position: relative;
}

.crumb .point::before {
  content: "→";
  position: absolute;
  width: 100%;
  height: 5px;
  color: #000;
  left: -21px;
}

.crumb li ul li:hover:before {
  content: "→";
  position: absolute;
  width: 100%;
  height: 5px;
  color: #000;
  left: 0;
  font-weight: 100;
}

.humberger .point {
  font-weight: bold;
}

/* タイトル */

/* main_title */
main .title {
  margin: 30vh auto 10vh;
  padding-left: 5vw;
}

main .title img {
  width: 18vw;
}

main h1 {
  padding-left: 6vw;
  font-size: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
}

main h1 br {
  display: none;
}

main .link {
  font-size: .9em;
  padding-left: 4vw;
  margin-bottom: 10vh;
}

main .link a {
  padding: 1.5vh 1vw;
  display: block;
  width: 10vw;
  margin: 4.5vh auto;
  position: relative;
  transition: .5s;
  text-align: center;
  font-weight: bold;
}

main .link a:hover {
  letter-spacing: 2px;
  transition: .5s;
  background-color: #FF9800;
  color: #fff;
}

main .link a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  animation: border ease-out .3s normal forwards;
}

@keyframes border {
  0% {
    margin: -4vh;
  }

  50% {
    margin: -1vh;
  }

  100% {
    margin: 0;
  }

}

main .link a:hover:after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  animation: border ease-out .3s normal forwards;
}

@keyframes border {
  0% {
    margin: -4vh;
  }

  50% {
    margin: -1vh;
  }

  100% {
    margin: 0;
  }

}

main h2 {
  background-color: #214098;
  height: 30px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 3vh;
}

/* 画像エリア */
main .image_area {
  width: 68vw;
}

main .image_area figure {
  width: 80%;
}

main .image_area figure:nth-child(1) img {
  width: 100%;
  border: 1px solid;
  background-color: #ccc;
}

main .image_area figure:nth-child(2) img {
  width: 50%;
  margin-left: 10%;
  border: 1px solid;
}

/* 文章エリア */
main .commentary_area {
  width: 50vw;
  line-height: 1.3rem;
}


/* 文章エリア_共通 */
main .commentary_area dl {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 5vh;
}

main .commentary_area dd {
  margin: auto;
}

/* 文章エリア_概要 */
main .commentary_area .summary p {
  margin-left: 1vw;
  margin-bottom: 3.5vh;
}

main .commentary_area .summary dt:nth-child(1) {
  float: none;
  font-weight: bold;
}

main .commentary_area .summary dt:nth-child(1)::before {
  content: "【";
}

main .commentary_area .summary dt:nth-child(1)::after {
  content: "】";
}

main .commentary_area .summary dt {
  float: left;
  clear: both;
}

main .commentary_area .summary dd::before {
  content: "：";
  margin-left: -17px;
}

main .commentary_area .summary dd {
  margin-left: 100px;
  margin-bottom: 1.8vh;
}

/* 文章エリア_制作内訳 */

main .commentary_area .breakdown dt {
  font-weight: bold;
  margin-top: 2vh;
}

main .commentary_area .breakdown dd {
  margin-left: 15px;
}

main .commentary_area .breakdown dt::before {
  content: "【";
}

main .commentary_area .breakdown dt::after {
  content: "】";
}

main .commentary_area .breakdown dl {
  margin-left: .5vw;
}

/* 文章エリア_サイト設計 */
main .commentary_area .plan dt {
  font-weight: bold;
}

main .commentary_area .plan dt::before {
  content: "・";
}

main .commentary_area .plan dd {
  margin-bottom: 2.5vh;
}

/* 文章エリア_難しかったところ */
main .commentary_area .difficult_point dt {
  font-weight: bold;
}

main .commentary_area .difficult_point dt::before {
  content: "・";
}

main .commentary_area .difficult_point dd {
  margin-bottom: 3vh;
}



@media screen and (max-width:780px) {

  /* 解除 */
  .wrapper {
    width: auto;
    margin-left: 10vw;
  }

  img {
    width: 100%;
  }

  .ds_f {
    flex-wrap: wrap;
  }

  /* 全体 */
  #main_content {
    margin-bottom: 15vh;
  }

  /* パンくず */
  .crumb {
    top: 3vh;
    left: 50px;
    opacity: 0;
  }

  /* タイトル */
  main .title {
    margin: 40vh auto 5vh;
  }

  main .title img {
    width: 25vw;
  }

  main h2 {
    line-height: 2rem;
  }

  main h2 br {
    display: block;
  }

  main .link {
    margin-top: -2vh;
    margin-bottom: 10vh;
    position: relative;
  }

  main .link a {
    width: 25vw;
    letter-spacing: 2px;
    transition: .5s;
    background-color: #FF9800;
    color: #fff;
    border: 1px solid #000;
  }

  main .link a:hover:before,
  main .link a:hover:after {
    content: none;
  }

  main .link a:after {
    content: '';
    position: absolute;
    top: -10%;
    left: -20%;
    width: 40px;
    height: 100%;
    overflow: hidden;
    transform: scale(2) rotate(20deg);
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, .5) 100%, rgba(255, 255, 255, 0) 0%);

    /* アニメーション */
    animation-name: shiny;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes shiny {
    0% {
      left: -20%;
    }

    10% {
      left: 120%;
    }

    100% {
      left: 120%;
    }
  }



  /* 画像セクション */
  main .image_area {
    width: 70vw;
    margin-bottom: 10vh;
  }

  main .image_area figure {
    width: auto;
  }

  main .image_area figure:nth-child(2) {
    display: none;
  }

  /* 文章セクション */
  main .commentary_area {
    width: 70vw;
  }

  main .commentary_area .summary dt {
    float: none;
    font-weight: bold;
  }

  main .commentary_area .summary dd {
    margin-left: auto;
  }

  main .commentary_area .summary dd::before {
    content: none;
  }
}