@charset "UTF-8";

/* 共通 */
.ds_f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a:hover {
  opacity: .6;
}


/* mein */
main h2 {
  padding-left: 3vw;
  margin-bottom: 1rem;
}

main h2+p {
  font-weight: bold;
  text-align: center;
  padding-left: 4.5vw;
  margin-bottom: 5vh;
}

main h2+p br {
  display: none;
}

h2+p a {
  text-decoration: underline;
}

main ul {
  margin-left: 3vw;
}

main .site ul {
  margin-left: 6vw;
}

main .site li {
  margin-right: 2rem;
}

.site .imitation {
  height: 20vh;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  border-left: 3px solid #333;
  border-radius: 30px 30px 0 0;
}

.imitation {
  width: 20vw;
  float: left;
}

.imitation img {
  width: 100%;
}

.site .img_text {
  width: 20vw;
  height: auto;
  box-sizing: border-box;
  border: 3px solid #333;
  border-radius: 0 0 30px 30px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.img_text {
  clear: both;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 5px;
  margin-bottom: 5rem;
}

.img_text span {
  margin-left: 1rem;
}

.img_text span:nth-of-type(1) {
  margin-left: 0;
}

.block {
  display: block;
}



@media screen and (max-width:780px) {

  /* 解除 */
  .site ul {
    display: block;
  }

  /* width解除 */
  .imitation {
    width: 90%;
  }

  .site .img_text {
    width: 90%;
  }

  img {
    width: auto;
  }

  /* 要素表示 */
  main h2+p br {
    display: block;
  }

  /* 幅修正 */
  main .site,
  main .banner {
    margin-bottom: 30%;
  }

  main .site ul {
    margin-left: 10vw;
  }

  main .site li {
    margin-right: 0;
  }

  .banner li {
    margin-left: 8%;
  }

  .img_text {
    margin-bottom: 10%;
  }

}