@charset"UTF-8";


/*レスポンシブを簡単に記述する設定*/
$breakpoints: (
  'md': 'screen and (max-width: 768px)'
  ) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* 横並び */
.ds {
  display: flex;
}

/* 縦書き */
.tate {
  /* 英字は横、和文字は縦*/
  writing-mode: vertical-rl;
}

.wrapper {
  width: 100%; // width無いと左に寄るので大事
  max-width: 1024px;
  margin: 0 auto;
}


/* 全体 */
body {
  background-color: #e6e2d7;
  font-family: 'Noto Serif JP',
    serif;
}

a {
  color: #fff;
}


/* ヘッダー */
.header {
  background-image: url(../img/mainvisual-pc.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  padding: 3.8rem 2.5rem 2rem;
  flex-direction: row-reverse; /* 順番逆にする */
  margin-bottom: 11rem;

  @include mq() {
    padding: 1.2rem;
    padding-right: 0;
    margin-bottom: 5rem;
    background-position: center;
  }

  .logo {
    margin-right: 1.5rem;
    margin-left: 3.9rem;

    @include mq() {
      margin-right: 0;
    }

    &__img {
      width: 70%;
    }
  }

  .menu__item {
    font-size: 1rem;
    margin-left: 1.9rem;
  }

  .linkbtn {
    margin-right: auto;
    margin-bottom: auto;
    font-size: 1rem;
    padding: .4rem 1.8rem;
    background-color: rgba(165, 165, 165, 0.5
    );

  @include mq() {
    padding: .4rem 1.9rem;
  }

  &__online {
    border: 1px solid #fff;
    padding: 1.9rem 1.2rem;
  }
}
}


/*メイン*/
/*お知らせ*/
.news-group {
  margin-bottom: 12rem;

  @include mq() {
    margin-bottom: 6rem;
    padding: 0 20px;
  }

  .title {
    padding-left: 1rem;

    &__item-small {
      font-size: .9rem;
      margin-left: .7rem;
    }

    &__item {
      font-size: 2.3rem;
      letter-spacing: .2rem;

      @include mq {
        font-size: 1.75rem;
      }
    }
  }

  .news-item {
    padding-top: 6rem;
    padding-right: 5rem;

    @include mq() {
      padding-top: 2.1rem;
      padding-right: .7rem;
    }

    &__day {
      font-weight: normal;
      font-size: .75rem;
      margin-left: .6rem;
      padding-right: 2rem;
      position: relative;

      @include mq() {
        padding-right: .9rem;

        &:nth-of-type(4),
        &:nth-of-type(5) {
          display: none;
        }
      }

      &:before {
        content: "";
        width: 1px;
        height: 110%;
        background-color: #000;
        position: absolute;
        right: 0;
        top: -5%;

        @include mq() {
          height: 111%;
          top: -6%;
        }
      }
    }

    &__text {
      margin-top: 0;
      padding-left: 2rem;
      position: relative;

      @include mq() {
        padding-left: 0.9rem;

        &:nth-of-type(4),
        &:nth-of-type(5) {
          display: none;
        }
      }

      &:last-child:before {
        content: "";
        width: 1px;
        height: 110%;
        background-color: #000;
        position: absolute;
        left: 0;
        top: -5%;
      }

      @include mq() {
        &:nth-of-type(3):after {
          content: "";
          width: 1px;
          height: 111%;
          background-color: #000;
          position: absolute;
          left: 0;
          top: -6%;
        }
      }
    }
  }
}


/*photo１グループ*/
.photo1-group {
  margin-bottom: 11.4rem;
  position: relative;

  @include mq() {
    margin-bottom: 6rem;
  }

  &__inner {
    flex-direction: row-reverse;
  }

  .photo1-title {
    margin-right: 1.1rem;

    &__item {
      font-size: 2rem;
      letter-spacing: .2rem;
      margin-bottom: 1.2rem;

      @include mq() {
        font-size: 1.47rem;
      }
    }

    &__item-small {
      font-size: .89rem;

      @include mq() {
        display: none;
      }
    }
  }

  .photo1-img {
    width: 63%;
    margin-top: 6.3rem;
    margin-right: 1rem;

    @include mq() {
      width: 81%;
      margin-top: 4.4rem;
      margin-right: .4rem;
    }

    &__item {
      width: 100%;
    }
  }

  .photo1-text {
    position: absolute;
    left: 18.2rem;
    bottom: -1.1rem;
    color: #fff;
    line-height: 1.5rem;
    background-color: rgba(249, 233, 6, 0.6);
    padding: 3rem 7.2rem;

    @include mq() {
      left: 0;
      line-height: 1.25rem;
      padding: 1.8rem 2.5rem;
      font-size: .88rem;
    }
  }
}


/*photo2グループ*/
.photo2-group {
  margin-bottom: 11rem;
  position: relative;

  @include mq() {
    margin-bottom: 6.15rem;
  }

  .photo2-title {
    margin-left: 1.1rem;

    &__item {
      font-size: 2rem;
      letter-spacing: .2rem;
      margin-bottom: 1.2rem;

      @include mq() {
        font-size: 1.48rem;
      }
    }

    &__item-small {
      font-size: .89rem;

      @include mq() {
        display: none;
      }
    }
  }

  .photo2-img {
    width: 63%;
    margin-top: 6rem;
    margin-left: 1rem;

    @include mq() {
      width: 81%;
      margin-top: 4.5rem;
      margin-left: .5rem;
    }

    &__item {
      width: 100%;
    }
  }

  .photo2-text {
    position: absolute;
    right: 18.2rem;
    bottom: -1.1rem;
    color: #fff;
    line-height: 1.5rem;
    background-color: rgba(149, 42, 38, 0.6);
    padding: 3rem 7.2rem;

    @include mq() {
      right: 0;
      bottom: -1.2rem;
      line-height: 1.25rem;
      padding: 1.88rem 2.5rem;
      font-size: .88rem;
    }
  }
}


/* フッター */
footer {
  background-color: #000;
  color: #fff;
  padding: 5rem 5rem 2rem 2rem;

  @include mq() {
    padding: 2.5rem 1.25rem 2rem 1.3rem;
  }

  .footer-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1rem;

    .right-group {
      margin-right: 0;
      line-height: 1.8rem;

      .logo {
        width: 10.7%;
        margin-left: 3.9rem;

        @include mq() {
          width: 16%;
          margin-left: 1.5rem;
        }

        &__img {
          width: 100%;
        }
      }

      .address {
        font-size: .86rem;
        margin-left: 3.5rem;

        @include mq() {
          // font-size: .rem;
          margin-left: 1.3rem;
        }
      }

      .menu__item {
        margin-left: 1.2rem;

        @include mq() {
          font-size: .87rem;
          margin-left: .09rem;
        }
      }
    }

    .linkbtn {
      position: relative;
      font-size: .87rem;

      &__online {
        display: block;
        margin-bottom: .1rem;
      }
    }
  }

  .copyright {
    display: block;
    text-align: center;

    font-size: .5rem;
  }

}