@charset "UTF-8";

/* reset */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: bottom;
}

a {
  color: #000;
  text-decoration: none;
}

/* all */
body {
  font-family: "Crimson Text", serif;
}

.d_f {
  display: flex;
}

.wrapper{
  width: 1000px;
  margin: auto;
  padding: 0 18px;
  box-sizing: border-box;
}

/* header */
header .mv {
  width: 90vw;
  margin: auto;
  padding-top: 60px;
  margin-bottom: 30px;
}

header img {
  width: 100%;
}

header .logo {
  width: 110px;
  height: 20px;
  padding-right: 50px;
}

header .nav {
  width: 90vw;
  margin: auto;
  line-height: 20px;
  margin-bottom: 60px;
}

header .nav a {
  font-size: 13px;
  padding-right: 30px;
}


/* main */
main .img {
  width: 50%;
}

main #work img,
main #concept img {
  width: 100%;
  margin-bottom: 60px;
}

main .text {
  width: 50%;
  padding: 150px 75px 150px 66px;
  box-sizing: border-box;
}

main .text h1 {
  font-weight: normal;
  margin-bottom: 2px;
}

main .text h2 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 25px;
}


/* footer */
footer {
  padding: 20px 0;
}

footer div{
  justify-content: space-between;
}

footer .logo img {
  width: 110px;
}